<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.barboursvilleleos.leotrails"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Barboursville LEOs Trail Companion</name>

  <description>
     The Barboursville Park trails companion app from the LEOs! An audio guided experience through the trails 
     on history, flora and fauna, as well as a fitness training guide. Specifically designed for the visually 
     impaired by the LEOs Club.
  </description>

  <author href="https://e-clubhouse.org/sites/barboursville/" email="barboursvilleleos@gmail.come">
      Yousef Abdelgaber
  </author>
    
    <icon src="icon512.png" />

    <content src="index.html" />

    <preference name="orientation" value="portrait" />

    <preference name="android-minSdkVersion" value="14" />  
    <preference name="android-targetSdkVersion" value="26" /> 

    <platform name="ios" />
    <platform name="android" />

</widget>